<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>Boardfish</string>
  <key>CFBundleDisplayName</key>
  <string>Boardfish</string>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeIdentifier</key>
      <string>com.boardfish.app.bf</string>
      <key>UTTypeDescription</key>
      <string>Boardfish Board</string>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>bf</string>
        </array>
      </dict>
      <key>UTTypeIconFile</key>
      <string>Icon</string>
    </dict>
  </array>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>Boardfish Board</string>
      <key>CFBundleTypeExtensions</key>
      <array>
        <string>bf</string>
      </array>
      <key>CFBundleTypeIconFile</key>
      <string>Icon</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSHandlerRank</key>
      <string>Owner</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>com.boardfish.app.bf</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
